* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
 
  img {
    max-width: 50%;
    height: auto;
  } 
  a {
    text-decoration: none;
  }
  .App {
    height: 100%;
    width: 100%;
    max-width: 1900px;
    margin: 0rem auto;
    padding: 0px;
    margin: auto;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    background-color: #f6f6f6;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    background-color: #ecdede;
  
  }
  .navbar-menu-container {
    display: none;
    color:rgb(247, 144, 164)
  } 
  .navbar-links-container a {
    margin-right: 3rem;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
  } 

  nav ul {
    display: flex;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 3rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .primary-button:hover {
    background-color: rgb(241, 145, 145);
  } 
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
    color:rgb(247, 144, 164);
  } */
  .primary-heading {
    font-size: clamp(2.3rem, 3vw, 2rem);
    color: black;
    /* line-height: 5rem; */
    font-weight: bold;
    max-width: 600px;
  }
  .primary-text {
    font-size: clamp(1.1rem, 1.5vw, 1rem);
    max-width: 500px;
    color:black;
    margin: 1.5rem 0rem;
    font-weight: bold;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: black;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  } 
  /* .secondary-button:hover {
    background-color: #e48f0f;
  }  */
  .parking-lot{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
  } 

  .parking-lot::before {
    content: '';
    background-image: url("./Images/parking\ lot2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.75;
  } 

  .content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
  } 
  .work-section-wrapper {
    margin-top: 15rem;
  }
  .work-section-top p {
    text-align: center;
    max-width: 600px !important;
  }
  .work-section-top h1 {
    max-width: 700px !important;
  }
  .work-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .work-section-info {
    width: 290px;
    min-height: 350px;
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    color: #505050;
    margin: 1rem 2rem;
  }
  .work-section-info h2 {
    margin: 1rem 0rem;
  }
  .work-section-bottom {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .work-section-info p {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .login-container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin: auto;
    width: 600px;
    background: rgb(250, 246, 246);
    padding-bottom: 30px;
  }
  .login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px
  }
  .text{
    color: inherit;
    font-size: 40px;
    font-weight: 700;
  }
  .underline{
    width: 61px;
    height: 6px;
    background-color: grey;
    border-radius: 9px;
  }
  .inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(239, 228, 228);
    border-radius: 6px;
  }
  .input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 19px;
  }
  .icons{
    margin: 0px 30px;
  }
  .forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;;
    font-size:18px;
  }
  .forgot-password span{
    color: blue;
    cursor: pointer;
  }
  .submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: rgb(101, 87, 87);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
  }
  .gray{
    background: rgb(239, 228, 228);
    color: #676767;
  }
  
   @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
  } 
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .primary-heading {
      text-align: center;
      max-width: 90%;
    }
    .primary-text {
      text-align: center;
      max-width: 80%;
    }
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
    .primary-subheading {
      text-align: center;
    }
    .App {
      max-width: 95vw;
    }
} 
